@using RunAndHikeStore.Web.ViewModels.Product
@model AddProductViewModel

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />


<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <div class="mb-3">
                    <label asp-for="ProductNumber">Product number</label>
                    <input asp-for="ProductNumber" class="form-control" />
                    <span asp-validation-for="ProductNumber" class="small text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ProductTypeId" class="form-label">Product Type</label>
                    <select asp-for="@Model.ProductTypeId" class="form-control">
                        @foreach (var type in Model.ProductTypes)
                        {
                            <option value="@type.Id">@type.Name</option>
                        }
                    </select>
                    <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.BrandId" class="form-label">Brand</label>
                    <select asp-for="@Model.BrandId" class="form-control">
                        @foreach (var brand in Model.Brands)
                        {
                            <option value="@brand.Id">@brand.Name</option>
                        }
                    </select>
                    <span asp-validation-for="BrandId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Name">Model</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="2"> </textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Color">Color</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.GenderId" class="form-label">Gender</label>
                    <select asp-for="@Model.GenderId" class="form-control">
                        @foreach (var gender in Model.Genders)
                        {
                            <option value="@gender.Id">@gender.Name</option>
                        }
                    </select>
                    <span asp-validation-for="GenderId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.CategoryId" class="form-label">Categories</label>
                    <select id="selectCategories" asp-for="@Model.CategoryId" class="form-control" multiple>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Size.SizeId" class="form-label">Product Size</label>
                    <select asp-for="@Model.Size.SizeId" class="form-control">
                        @foreach (var size in Model.Sizes)
                        {
                            <option value="@size.SizeId">@size.SizeName</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.Size.SizeId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ImageUrl"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="UnitPrice"></label>
                    <input asp-for="UnitPrice" class="form-control" />
                    <span asp-validation-for="UnitPrice" class="small text-danger"></span>
                </div>
                <input class="btn-lg btn-success col-md-4 mt-3" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $("#selectCategories").selectize({
            sortField: "text",
        });</script>
}